# API_TOKEN=""                              # unused for Ollama
DEFAULT_MODEL="nimble"                      # typesafe/jev-x.xx
DEFAULT_BASE_URL="http://localhost:11434"   # https://api.defapi.org
DEFAULT_ENDPOINT="/v1/systemone"            # /api/v1/decisions